.table {
  max-height: 65vh;
  padding: 0px 4px;
  overflow-y: scroll;
}

.heading {
  display: flex;
  margin-bottom: 20px;
}

.heading_name,
.heading_population {
  flex: 1;
  text-align: left;
  border: none;
  outline: none;
  color: var(--text-color-secondary);
  font-weight: 500;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: var(--background-color);
}

.heading_population {
  text-align: center;
}

.row,
.row_not_found {
  display: flex;
  padding: 20px;

  background-color: var(--background-color-light);
  border-radius: 8px;
  margin-bottom: 1em;

  box-shadow: var(--box-shadow);
  font-weight: 500;

  text-align: left;
  transition: all 200ms ease-in-out;
}

.row_not_found {
  opacity: 0.5;
  justify-content: center;
  font-style: italic;
  background-color: var(--background-color);
  box-shadow: none;
}

.row:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.name {
  flex: 1;
  display: flex;
  align-items: center;
}

.name img {
  width: 72px;
  margin-right: 1em;
}

.population {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
