.container {
  padding: 1.5em 3em;
  height: 100vh;
  max-width: 1100px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.header a {
  display: flex;
}

.main {
}

.main ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.main ::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f5f5f5;
}

.main ::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 10px;
}

.main ::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 1em;
  opacity: 0.8;
}

.theme_switcher {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color-secondary);
  margin-left: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.github svg {
  height: 0.75em;
  margin-right: 5px;
}
